<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
<div>
    <h1>Hello Tech World</h1>
    <p>We are here with very good systems and projects. Crazy ideas for tech.</p>
    <br>
    <div>
        <h2> Now let us explore more.</h2>
        <p><a href="{% url 'trends' %}">New Trends</a></p>
    </div>
    <div>
        <p>
            <img src="/media/images/work.jpg" alt="My Image">
        </p>
    </div>
    <div>
        <p>
            <video width="320" height="240" controls>
              <source src="/media/videos/video.mp4" type="video/mp4">
              This is my video man.
            </video>
        </p>
    </div>
    <div>
        <p>
            <audio controls>
              <source src="/media/audios/audio.mp3" type="audio/mpeg">
              This is my song.
            </audio>
        </p>
    </div>
    <div>
        <h1>This is the content I upload from admin side.</h1>
        {% for content in contents %}
            <div class="content-block">
                <h2>{{ content.title }}</h2>
                <p>{{ content.description }}</p>

                {% if content.image %}
                    <img src="{{ content.image.url }}" alt="Uploaded image" width="300">
                {% endif %}

                {% if content.video %}
                    <video width="400" controls>
                        <source src="{{ content.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}

                {% if content.audio %}
                    <audio controls>
                        <source src="{{ content.audio.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                {% endif %}

                <hr>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>